
<div class="middle">
    <canvas id="canvas" width='800' height='800'></canvas>
</div>
<div class="right">
    <div class="inputs">
        <p>
            home:
            <input type="text" id="v_home" value="" width="50"/>
        </p>
        <p>
            random:
            <input type="text" id="v_random" value=""/>
        </p>
        <p>
            cohesion:
            <input type="text" id="v_cohesion" value=""/>
        </p>
        <p>
            alignment:
            <input type="text" id="v_alignment" value=""/>
        </p>
        <p>
            avoidance:
            <input type="text" id="v_avoidance" value=""/>
        </p>
        <p>
            max avoid:
            <input type="text" id="v_maxAvoidanceDistance" value="" />
        </p>
        <p>
            sight:
            <input type="text" id="v_sight" value=""/>
        </p>
        <p>
            red:
            <input type="text" id="v_red" value=""/>
        </p>
        <p>
            green:
            <input type="text" id="v_green" value=""/>
        </p>
        <p>
            blue:
            <input type="text" id="v_blue" value=""/>
        </p>
        <p>
            <input type="button" id="btn_good" value="Good!"/>
            <input type="button" id="btn_bad" value="Baaad:("/>
        </p>
    </div>
    <div>
        <p>
            What are you looking at? It's some circles flying around in a box2d world using a boids algorithm to control their movement. In the future you'll be able to say whether you like what you see and the results will be sent back to the server and a genetic algorithm will breed more of the ones that you like:)
        </p>
    </div>
</div>